<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="ConexionPlataformaVIA" connectionString="Server=10.8.122.151;Database=PortalVia;User Id=sa;Password=Colombia1;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="ConexionPlataformaVIA" connectionString="Server=codcdbsql04cat;Database=PortalVIADev;User Id=sa;Password=Colombia1;" providerName="System.Data.SqlClient"/>-->
    <add name="ConexionPlataformaVIA" connectionString="Server=CODCDBSQL06CAT;Database=PortalVIADev;User Id=sa;Password=Colombia1;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>