<main class="container">
    <meta name="viewport" content=" width=device-width, initial-scale=1" />
    <div class="row flex-column-reverse flex-md-row align-items-md-center">
        <div class="col-md-4 text-center text-md-left hidden-xs">
            <br />          
            <a href="https://www.facebook.com/BalotoRevancha/" target="_blank">
                <i style="cursor:pointer" class='fa fa-facebook-square fa-2x'></i>
            </a>
            &nbsp;
            <a href="https://twitter.com/baloto_colombia" target="_blank">
                <i style="cursor:pointer" class='fa fa-twitter-square fa-2x'></i>
            </a>
            &nbsp;
            <a href="https://www.instagram.com/baloto_colombia/" target="_blank">
                <i style="cursor:pointer" class='fa fa-instagram fa-2x'></i>
            </a>
            &nbsp;
            <a href="https://www.youtube.com/channel/UCIOtuCbW5T1eMFR_oY6dTUw" target="_blank">
                <i style="cursor:pointer" class='fa fa-youtube fa-2x'></i>
            </a>
        </div>
        <div class="col-md-7 text-center text-md-right">
            <br />
            <img  src="~/Content/img/igt_logo.png" style="width:10%;"/>
            <p style="color:white; font-size:small;">&copy; @DateTime.Now.Year - IGT. Todos los derechos reservados.</p>
        </div>
    </div>
</main>


