@{
    ViewBag.Title = "Seguridad";
}

<div class="row m-0">
    <div class="col-12">
        <div id="divEncabezadoPDV" style="background-color:#063e8e;"><h2 id="title" style="color:white;"></h2></div>
        <div class="row">
            <div class="center-block">
                <div class="dropdown visible-xs visible-sm pb-2">
                    <button class="btn btnMobile-secondary dropdownMobile-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu de actualización
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a href="#" class="menuTellerPass dropdownMobile-item" id="Datos">Actualización de datos</a>
                        <a href="#" class="menuTellerPass dropdownMobile-item" id="Plataforma">Cambiar contraseña</a>
                        @if (ViewBag.EsPuntoDeVenta)
                        {
                        <a href="#" class="menuTellerPass dropdownMobile-item" id="Terminal">Cambiar contraseña de colocador</a>
                        }                        
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 visible-md visible-lg">
                <div class="menulateral visible-md visible-lg">
                    <ul>
                        <li class="menu__lateral--item"><a href="#" class="menuTellerPass btn btn--link text col-md-12" id="Datos">Actualización de datos</a></li>
                        <li class="menu__lateral--item"><a href="#" class="menuTellerPass btn btn--link text col-md-12" id="Plataforma">Cambiar contraseña</a></li>
                        @if (ViewBag.EsPuntoDeVenta)
                        {
                            <li class="menu__lateral--item"><a href="#" class="menuTellerPass btn btn--link text" id="Terminal">Cambiar contraseña de colocador</a></li>
                        }
                    </ul>
                </div>
            </div>
            <br />
            
            <div id="dvcontenedorpuntodeventainfo" class="col-9" style="margin:auto; width:100%;" />

        </div>
    </div>
</div>
@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")

    <script type="text/javascript">
    $(function () {
        $('.menuTellerPass').click(function () {
            var id = this.id;
            CargarInformacionInicio(id);
            return false;
        });

        $('.dropdownMobile-item').click(function () {
            $('#dropdownMenuButton').text($(this).text());
            $(".dropdownMobile-toggle").dropdown('toggle');
        });

        function CargarInformacionInicio(idlink) {
            gtag('event', 'Manage/ChangePassword/' + idlink);
            $.ajax({
                type: "get",
                url: "@Url.Action("GetPartialView")",
                data: { idlink: idlink},
                success: function (d) {
                    /* d is the HTML of the returned response */
                    $("#dvcontenedorpuntodeventainfo").empty();
                    $("#dvcontenedorpuntodeventainfo").html(d); //replaces previous HTML with action
                }
            });
        }

        CargarInformacionInicio('Plataforma');
    });
    </script>
}   