@model PlataformaVIA.Presentacion.Models.IndexViewModel
@{
    ViewBag.Title = "Cambio de contraseña";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <div>
        <a href="/" class="btn btn-primary">Continuar</a>
    </div>
    <hr />
    <dl class="dl-horizontal">
      
    </dl>
</div>
