@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<div class="container mt-5">
    <div class="row">
        <h2 class="col-12 title title--sub text text--color--blue pb-2 text-uppercase border border--bottom my-5">contactanos</h2>
        <div class="wrapper col-12 text-center">
            <p class="h3 text text--color--black mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="h3 text text--color--black">Ut vel arcu fermentum, ullamcorper augue non, faucibus nisi.</p>
            <p class="h3 text text--color--black">Etiam non arcu congue, fermentum purus sed, egestas nisi.</p>
            <p class="h3 text text--color--black">Sed varius mauris vitae nunc laoreet, et facilisis nunc tincidunt.</p>
        </div>
    </div>
</div>