@model PlataformaVIA.Core.Domain.Cadena.Cadena

@{
    Layout = null;    
}
<div class="list-panel-heading row">
    @Html.Action("BusquedaAvanzadaMisAjustes")
    @*<div class="icontooltip">
            <button type="button" id="btnExplicacionRangos" class="btnIconos" data-toggle="modal" data-target="#modal-explicacion-rangos">
                <i class="fa fa-exclamation-triangle fa-3x"></i>
            </button>
        </div>*@
</div>

<div>
    <table id="misajustes-data-table"
           class="table table-striped table-bordered ampliaTabla"
           style="width:100%" />
</div>

<div class="modal fade" id="modal-detalleAjuste">
    <div id="modal-detalleAjuste-container">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" aria-hidden="true" type="button" data-dismiss="modal">×</button>
                    <h3 class="modal-title" id="myModalLabel">Detalle de ajuste</h3>
                </div>
                <div id="modal-detalleAjuste-body" class="modal-body">

                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    var misajustesListVM;

        $(function () {
            misajustesListVM = {
                dt: null,

                init: function () {
                    dt = $('#misajustes-data-table').DataTable({
                        "dom": 'Blrtip',
                        "scrollX": true,
                        "bSort": false,
                        buttons: [{
                            "extend": 'excelHtml5',
                            "title": 'Mis Ajustes',
                            "text": 'Exportar a excel',
                            "action": newExportAction
                        }],
                        "serverSide": true,
                        "responsive": false,
                        "processing": true,
                        "rowHeight": 'auto',
                       // "ordering": false,
                        "oLanguage": language['dataTableParameters'],
                        "ajax": {
                            "url":
                                "@Url.Action("GetFiltroAvanzadoMisAjustes", "Cadena")",
                            "data": function (data) {
                                data.CodCicloFacturacion = $("#CodCicloFacturacion").val();
                                data.CodPuntoVenta = '@Model.Id'
                            },
                            "type": "POST"
                        },
                        "columns": [
                            {
                                className: 'text-center',
                                "mData": null,
                                "bSortable": false,
                                "mRender": function (data, type, full) {
                                    return "<a class='py-0 text text--color--white border border--right iniciarModalDetalle' data-id ='" + data.Id + "'><i class='fa fa-search'></i></a>";
                                    //btn btn--solid
                                }
                            },
                            {
                                className: 'text-center',
                                "title": "Fecha Hora",
                                "data": "FechaHora",
                                "render": function (data) {
                                    return moment(data).format('MM/DD/YYYY HH:mm:ss');
                                },
                                "searchable": true
                            },
                            {
                                className: 'text-center',
                                "title": "Tipo",
                                "data": "DescripcionTipo",
                                "searchable": true
                            },
                            {
                                className: 'text-center',
                                "title": "Valor",
                                "data": "Valor",
                                render: $.fn.dataTable.render.number(',', '.', 2, '$'),
                                "searchable": true,
                            },
                            {
                                "title": "Descripción",
                                "data": "Descripcion",
                                "searchable": true
                            }
                        ],
                        "lengthMenu": [[10, 25, 50, 100], [10, 25, 50, 100]]
                    });
                },
                refresh: function () {
                    $.validator.unobtrusive.parse($('#frmAdvancedSearch')); //Importante agregar para validación en este tipo de vistas parciales
                    if ($("#frmAdvancedSearch").valid()) {
                        dt.ajax.reload();
                    }
                }
            };

            //  Manejador de botón de búsqueda avanzada
            $('#btnEjecutarBusquedaAvanzada').on("click", misajustesListVM.refresh);


            // initialize the datatables
            misajustesListVM.init();

            $('#misajustes-data-table').on('click', '.iniciarModalDetalle', function () {
                var detalleAjuste = $(this).data('id');
                var url = '@Url.Action("_DetalleAjuste", "PuntoDeVenta")';
                $.get(url + '?id=' + detalleAjuste, function (data) {
                    $('#modal-detalleAjuste-body').html(data);
                    $('#modal-detalleAjuste').modal('show');
                });
            });

    });

    var oldExportAction = function (self, e, dt, button, config) {
        if (button[0].className.indexOf('buttons-excel') >= 0) {
            if ($.fn.dataTable.ext.buttons.excelHtml5.available(dt, config)) {
                $.fn.dataTable.ext.buttons.excelHtml5.action.call(self, e, dt, button, config);
            }
            else {
                $.fn.dataTable.ext.buttons.excelFlash.action.call(self, e, dt, button, config);
            }
        } else if (button[0].className.indexOf('buttons-print') >= 0) {
            $.fn.dataTable.ext.buttons.print.action(e, dt, button, config);
        }
    };

    var newExportAction = function (e, dt, button, config) {
        var self = this;
        var oldStart = dt.settings()[0]._iDisplayStart;

        dt.one('preXhr', function (e, s, data) {
            //carga todos los datos del server con el max value
            data.start = 0;
            data.length = 2147483647;

            dt.one('preDraw', function (e, settings) {
                // Call the original action function
                oldExportAction(self, e, dt, button, config);

                dt.one('preXhr', function (e, s, data) {

                    settings._iDisplayStart = oldStart;
                    data.start = oldStart;
                });


                setTimeout(dt.ajax.reload, 0);


                return false;
            });
        });


        dt.ajax.reload();
    };

</script>


