@{
    ViewBag.Title = "Contáctanos";
}
<div class="dvContactanos">
    <h2>@ViewBag.Title.</h2>
    <p class="titulocontactanos">@ViewBag.Message</p>

    <p class="titulocontactanos">Puedes contactarnos telefónicamente. <br> Desde fuera de Bogotá gratis al: 01 8000 956 886 <br> Desde Bogotá al: 5923430</p>
</div>