@{
    ViewBag.Title = "Recuperar contraseña";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Por favor verifique su correo electrónico donde recibirá instrucciones para restablecer la contraseña
    </p>
</div>
	
