@{
    ViewBag.Title = "Confirmación de registro";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        El registro ha sido finalizado correctamente, por favor verifique su correo para finalizar el proceso
    </p>
</div>
	
