@{
    ViewBag.Title = "Cambio de contraseña";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        La contraseña ha sido cambiada @Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
