@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Contraseña bloqueada";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<hgroup>
    <h1 class="text-danger">Contraseña bloqueada</h1>
    <h2 class="text-danger">La contraseña ha sido bloqueada, por favor intente mas tarde.</h2>
</hgroup>
